.header-top {
    .tile-selectors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin-inline: auto;
        gap: 1rem;
        height: 100%;
        max-width: 300px;

        padding: 1rem 0;

        label.selector {
            display: block;
            align-self: center;
            /* height: 80%; */
            height:fit-content; 
            aspect-ratio: 1;
            display: grid;
            place-content: center;
            border-radius: 2.5rem;
            corner-shape: squircle;
            

            img {
                height: 100%;
                max-height: 60px;
                object-fit: cover;
                display: block;
            }

            input {
                display: none;
            }

            &:has(input:checked) {
                background: rgb(36, 36, 36);
                box-shadow: 0 0 0 4px #2f2f2f;
            }

            &.river img {
                filter: hue-rotate(155deg) contrast(1.3) brightness(1.5);
                /* filter: hue-rotate(155deg) brightness(1.5); */
            }

            &.town img {
                /* filter: ; */
                filter: grayscale(0.2) contrast(1.6) hue-rotate(340deg) brightness(1.1);
                /* filter: hue-rotate(340deg); */
            }


        }

    }
}