* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #151515;
    /* background: #555; */
    /* background: #252525; */
    
    font-family: monospace;
    height: 100svh;
    margin: 0;  
    display: grid;
    grid-template-areas:"header-top         header-top      header-top"
                        "header-bottom-left game            header-bottom-right"
                        "aside-left         game            aside-right"
                        "footer             footer          footer";
    grid-template-rows: 1fr 2fr 13fr 1fr;
    grid-template-columns: 1fr 25fr 1fr;

    >* {
        text-align: center;
        align-content: center; 
        /* box-shadow: 0 0 1px 0 white; */
        color: #b9b9b9;
        font-size: 1rem;
    }
}
.header-top {
    grid-area: header-top;
}
.header-bottom-left {
    grid-area: header-bottom-left;
}
.header-bottom-right {
    grid-area: header-bottom-right;
}
.aside-left {
    grid-area: aside-left;
}
.aside-right {
    grid-area: aside-right;
}
.game {
    grid-area: game;
}
.footer {
    grid-area: footer;
}

